/* base classes */
.flex{
    display: flex;
    align-items: center;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
/* base classes */

/* header */
.header{
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 39px;
}
.nav-li{
    margin-right: 106px;
}
.nav-li:last-child{
    margin-right: 0;
}
.nav-a{
    font-family: 'Brandon Grotesque Regular';
    font-size: 18px;
    text-transform: uppercase;
    color: #7F7F7F;
}
.social-li{
    margin-right: 15px;
}
.social-li:nth-child(1){
    margin-right: 38px;
}
.nav-li:last-child{
    margin-right: 0;
}
/* header */

/* banner section */
.banner{
    background-image: url(../images/banner.png);
    width: 100%;
    height: 938px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.txt-box{
    bottom: 129px;
    left: 350px;
    padding: 66px 300px;
    background-color: white;
    font-family: 'Kazimir-RegularItalic';
    font-size: 40px;
}
/* banner section */

/* mission section */
.mission{
    background-color: #306B34;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 140px 0 174px 0;
}
.article-img{
    margin-right: 43px;
}
.article-box{
    display: flex;
    flex-direction: row;
}
.mission-post{
    width: 306px;
    display: flex;
    width: 306px;
    flex-direction: column;
}
.mission-post h1{
    color: #707070;
    font-family: 'Brandon Grotesque Regular';
    font-size: 40px;
    margin-bottom: 40px;
}
.mission-post p{
    color: #fff;
    font-family: 'Kazimir-RegularItalic';
    font-size: 20px;
    line-height: 1.3;
}
/* mission section */

/* cover section */
.cover{
    background-color:white;
    display: flex;
    justify-content: center;
}
.text-box{
    display: flex;
    flex-direction: column;
}
.text-box h1{
    color: #36413E;
    font-family: 'Kazimir-RegularItalic';
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 110px 0 64px 0;
}
.text-box p{
    width: 696px;
    text-align: center;
    color: #7F7F7F;
    font-family: 'Kazimir-RegularItalic';
    font-size: 20px;
}
.text{
    margin-top: 35px;
}
.btn{
    background-color: #36413E;
    color: white;
    margin: 25px 0;
    width: 148px;
    height: 48px;
    font-family: 'Brandon Grotesque Bold';
    font-size: 12px;
}
.btn-div{
    display: flex;
    justify-content: center;
}
/* cover section */

/* footer */
.footer{
    background-color: #306B34;
    justify-content: space-between;
}
.privacy-li,
.footer-li{
    padding-top: 30px;
    margin-bottom: 25px;
}
.privacy-a{
    color: white;
    /* margin-right: 422px; */
    margin-left: 31px;
    text-transform: uppercase;
    font-family: 'Brandon Grotesque Bold';
    font-size: 12px;
}
.footer-a{
    color: white;
    text-transform: uppercase;
    font-family: 'Brandon Grotesque Regular';
    font-size: 10px;
    margin-right: 45px;
}
/* footer */